/* ~~~~~~~~~~~~~~~ CSS RESET ~~~~~~~~~~~~~~~ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
dell, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~ END OF CSS RESET ~~~~~~~~~~~~~~~ */

a:link {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:visited {
	color: black;
}

body {
	position: relative;
	display: block;
	background-image: url(images/background-store.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
}

#header {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 1150px;
	height: 140px;
	margin-bottom: 40px;
}

#header img {
	width: 1150px;
	height: 140px;
	margin-top: 25px;
	padding-bottom: 30px;
}

p {
	font-size: 20px;
	font-weight: bold;
}

#navigation-main {
	position: relative;
	width: 1150px;
	height: 55px;
	border: 1px solid transparent; 
	background-color: gray;
	margin: 0 auto;
}

#navigation-main li {
	float: left;
	width: 100px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

#navigation-main a {
	color: white;
}

#navigation-main a:hover {
	color: black;
}

#box {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	width: 300px;
}

#go {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

#section {
	position: relative;
	padding-top: 20px;
	width: 1150px;
	height: 750px;
	border: 1px solid transparent;
	margin: 0 auto;
}

#column-left {
	position: relative;
	float: left;
	margin: 0 auto;
	width: 195px;
	height: 750px;
	border: 1px solid transparent;
}

#column-left p {
	position: relative;
	margin-top: 15px;
	margin-left: 10px;
}

#genres {
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	text-align: left;
	font-size: 18px;
}

#column-center {
	position: relative;
	margin: 0 auto;
	width: 720px;
	height: 750px;
	border: 1px solid transparent;
}

#column-center p {
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.music {
	position: relative;
	display: inline-block;
	float: left;
	width: 720px;
	height: 140px;
	border: 1px solid transparent;
	
}

.musicimage {
	position: relative;
	display: inline-block;
	width: 175px;
	height: 140px;
	border: 1px solid transparent;
}

.musicimage img {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 75px;
	height: 70px;
	margin-top: 40px;
}

.information {
	position: relative;
	display: inline-block;
	float: left;
	width: 720px;
	height: 50px;
	border: 1px solid transparent;
}

.name, .cart {
	position: relative;
	display: inline-block;
	width: 175px;
	height: 50px;
	border: 1px solid transparent;
}

.name ul {	
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.addtocart {
	position: relative;
	display: inline-block;
	float: left;
	width: 720px;
	height: 50px;
	border: 1px solid transparent;
}

.cart input {
	position: relative;
	display: block;
	font-size: 12px;
	margin: 0 auto;
	margin-top: 15px;
}

#column-right {
	position: relative;
	float: right;
	margin: 0 auto;
	width: 195px;
	height: 750px;
	border: 1px solid transparent;
	margin-top: -752px;
}

#cart {
	position: relative;
	text-align: center;
	margin-top: 25px;
}

#cart img {
	width: 75px;
	height: 75px;
}

#checkout {
	position: relative;
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}

#login {
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}

#local {
	margin-top: 100px;
}

#local p:first-child {
	text-align: center;
	font-size: 22px;	
}

#local p {
	text-align: center;
}

.musicscene {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
}

#footer {
	position: relative;
	margin: 0 auto;
	width: 1150px;
	height: 55px;
	border: 1px solid transparent;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer p {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}